nav.sticky-nav
  .container
    a.sticky-nav__logo(href='#!')

    ul.sticky-nav__nav
      each parent in headerNav
        li.sticky-nav__nav-wrap(class=typeof parent.flag === 'undefined' ? '' : 'sticky-nav__nav-flag sticky-nav__nav-flag-' + parent.flag)
          a.sticky-nav__nav-link(href='#!')= parent.title

          ul.sticky-nav__nav-childs
            each child in parent.childs
              li.sticky-nav__nav-childs-wrap
                      
                if child.title !== undefined
                  .sticky-nav__nav-childs-title= child.title

                ul.sticky-nav__nav-child
                  each subChild in child.childs
                    li.sticky-nav__nav-child-wrap(class=typeof subChild.flag === 'undefined' ? '' : 'sticky-nav__nav-flag sticky-nav__nav-flag-' + subChild.flag)
                       a.sticky-nav__nav-child-link(href='#!' class=subChild.class)= subChild.title

    a.btn.btn_outline Login