include inc/head.pug
include inc/nav.pug
+header(headerReviews)

.page-container
  .container
    .row
      .col-12
        section.block-outer
          h2.section-title Business clients

          .reviews-slider
            .glide
              .glide__track(data-glide-el='track')
                ul.glide__slides
                  each i in [0,1,2,3,4,5]
                    li.glide__slide
                      .review-large
                        .review-large__text
                          p.review-large__text-p= reviewsSlider[0].text
                        
                        .review-large__desc
                          .review-large__logo
                            img.review-large__logo-img(src='img/reviews/logo-1.png')

                          .review-large__person
                            .review-large__avatar(style='background-image: url(' + reviewsSlider[0].img + ')')
                            
                            .review-large__info
                              .review-large__name= reviewsSlider[0].name
                              .review-large__old= reviewsSlider[0].old

              .glide__bullets(data-glide-el='controls[nav]')


    hr

  .container
    .block-outer
      .row
        .col-12
            h2.section-title Home clients

      .row.full-gutters
        each review in reviews 
          .col-12.col-md-6.col-lg-4.shadow-hover
            .review
              .review__text
                p.review__text-p= review.text
              
              .review__desc
                .review__person
                  .review__avatar(style='background-image: url(' + review.img + ')')
                  
                  .review__info
                    .review__name= review.name
                    .review__old= review.old

      .load-more-block
        .row.full-gutters
          each review in reviews 
            .col-12.col-md-6.col-lg-4.shadow-hover
              .review
                .review__text
                  p.review__text-p= review.text
                
                .review__desc
                  .review__person
                    .review__avatar(style='background-image: url(' + review.img + ')')
                    
                    .review__info
                      .review__name= review.name
                      .review__old= review.old

      .text-center
        .btn.btn_small.btn_back(data-more-btn) View more


include inc/footer.pug
include inc/foot.pug